@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

:root {
    /* ========== Colors ========== */
    /* Change favorite color */
    --hue-color: 22; /*Peach fuzz*/

    /* HSL color mode */
    --primary-color: hsl(var(--hue-color), 100%, 80%);
    --primary-color-second: hsl(var(--hue-color), 100%, 85%);
    --primary-color-alt: hsl(var(--hue-color), 45%, 64%);
    --primary-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 32%, 56%);
    --text-color: hsl(var(--hue-color), 25%, 40%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
}

body {
    background-image: url(../images/pattern/fabric_1.webp);
    color: var(--text-color);
    font-family: "Noto Sans TC", sans-serif;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
h1, h2, h3, h4 {
    color: var(--title-color);
  }


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.backdrop-blur {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.bg-color {
    background-color: var(--primary-color);
}
.bg-color-lighter {
    background-color: hsla(22, 100%, 85%,.5);
}
.object-fit-cover {
    object-fit: cover;
}
.text-align-center {
    text-align: center;
}
.title-deco {
    color: var(--primary-color);
    margin-bottom: -1.5rem;
    font-size: 1.5rem;
}
.height-s5 {
    height: 360px;
}

/* button */
.btn-primary {
    color: var(--text-color);
    background-color:var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 50rem;
}
.btn-primary:hover {
    color: #fff;
    background-color: var(--primary-color-alt);
    border-color: var(--primary-color-alt);
}
.btn-primary:focus {
    color: var(--text-color);
    background-color: var(--primary-color);
    border-color: var(--text-color-light);
}
.btn-primary:active, .btn-primary.active {
    color: #fff;
    background-color: var(--primary-color-alt);
    border-color: var(--primary-color-alt);
}
.btn-primary:active:focus, .btn-primary.active:focus {
    color: #fff;
    background-color: var(--primary-color-alt);
    border-color: var(--primary-color-alt);
    box-shadow: 0 0 0 0.25rem hsla(22, 100%, 85%,.5);
}


/* Navbar */
.navbar {
    background-color: hsla(22, 100%, 80%,.3);
    box-shadow: 0 .125rem .25rem  hsla(22, 100%, 85%,.15);
}
.navbar-brand, .navbar-brand:focus {
    color: var(--text-color);
}
.navbar-brand:hover {
    color: var(--text-color-light);
}
.nav-link {
    color: var(--text-color);
}
.nav-item, .nav-link:hover {
    color: var(--text-color-light);
}


/* Hero */
#hero {
    background-color: var(--primary-color);
    background-image: url(../images/hero/cover.jpg);
    background-size: cover;
    background-position: center;
    height: 720px;
}
/* .hero__img {
    width: 240px;
    border-radius: 10rem 10rem 0 0;
} */
.block_arch {
    width: 100%;
    height: 400px;
    background: linear-gradient(180deg, 
              hsla(22, 100%, 85%, 0.9),
              hsl(22, 100%, 80%,.1));
    border-radius: 50% 50% 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: flex-end; */
}
/* Works */

.works_image-frame {
    border: .5rem solid rgba(255, 255, 255, .5);
    border-radius: 1rem;
    box-shadow: 0 .125rem .25rem  hsla(22, 100%, 85%,.15);
    overflow: hidden;
}
.works_image {
    width: 100%;
    height: 360px;
    object-fit: cover;
}

.works_image:hover {
    scale: 120%;
    transition: scale 800ms;
}

.works_link {
    text-decoration: none;
    color: var(--text-color);
}
/* feedback */
.feedback_image {
    border-radius: 1.8rem;     /* 要記得加上padding的數值=>0.3+1.5 */
    padding: 1.5rem 1.5rem;
}

.feedback_deco {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.card {
    color: var(--text-color);
}

/* FAQ */
.accordion-button {
    color: var(--title-color);
}

.accordion-button:not(.collapsed) {
    color: var(--title-color);
    background-color: var(--primary-color);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
  }
.accordion-button:focus {
    z-index: 3;
    border-color: var(--primary-color);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 190, 152,.25);
  }
.accordion-body {
    color: var(--text-color);
}
.form-control::placeholder {
    color: var(--primary-color);
    opacity: 1;
  }
/* Footer */
#footer {
    bottom: 0;
    left: 0;
    right: 0;
}
.footer_social {
    font-size: 3rem;
    margin-right: var(--mb-1-5);
    color: var(--text-color);
}
.footer_social:hover {
    color: var(--text-color-light);
}
.scrollup_btn {
    color: var(--primary-color);
    background-color: var(--text-color);
    padding: 0.75rem 1rem;
    border-radius: 0.3rem;
}
.scrollup_btn:hover {
    color: var(--text-color);
    background-color: var(--primary-color);
    border: 0.1rem solid var(--text-color);
}

/* filter gallery */
.filter_buttons {
    flex-wrap: wrap;
}

.filterable_cards {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.filterable_cards .card {
    flex-basis: 300px;
    flex-grow: 1;
    border: .5rem solid #fff;
}

.filterable_cards .card img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    position: relative;
}

.filterable_cards .card .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsla(0, 0%, 100%, 0.15);
}

.card.hide {
    display: none;
}

/* RWD */
@media screen and (max-width: 768px) {
    .content-center {
        text-align: center;
        justify-content: center;
    }
}